# {{ project_name }}

{{ description }}

## Setup

```bash
python3 -m venv .venv
source .venv/bin/activate
pip install -U pip
pip install -e .[dev]
```

## Run

```bash
python -m {{ package_name }}.main
```

## Test

```bash
pytest -q
```
